data/raw/
data/processed/
data/interim/ 
**/**/__pycache__/
**/**/checkpoint-*
reference_pdfs/
legal-nlp-paper/main.synctex.gz
legal-nlp-paper/main.bbl
presentation/latex/main.out
presentation/latex/main.log
presentation/latex/main.fls
presentation/latex/main.fdb_latexmk
presentation/latex/main.aux
presentation/latex/main.synctex.gz
presentation/latex/main.nav
presentation/latex/main.toc
presentation/latex/main.nav
presentation/latex/main.toc
presentation/latex/main.nav
