data/raw/
data/processed/
data/interim/ 
**/**/__pycache__/
**/**/checkpoint-*
reference_pdfs/
legal-nlp-paper/main.synctex.gz
legal-nlp-paper/main.bbl
!presentation/latex/main.pdf
presentation/latex/main.*
presentation/latex/test.synctex.gz
presentation/latex/test.log
presentation/latex/test.fdb_latexmk

presentation/latex/test.log
presentation/latex/test.fls
presentation/latex/test.log
